<!DOCTYPE html>
<html lang="zn-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>家庭收入管理平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expend-sm bg-dark navbar-dark fixed-top">
    <div align="left">
        <ul class="nav justify-content">
            <li class="nav-link">
                <a style="color:white" href="#">{{ user }}</a>
            </li>
            <li class="nav-link">
                <a style="color:white" href="/logout/">退出</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row" style="padding-top: 70px;">
    <div class="col-md-11" align="left">
        <ul>
            <li><a href="/income">家庭收支记录</a></li>
            <li><a href="/debts">家庭债务记录</a></li>
            <li><a href="/">返回</a></li>
        </ul>
    </div>
</div>
</body>
</html>