<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家庭收入管理平台</title>
</head>
<body>
<div align="center">
    <font>
        <h1>家庭收入管理平台</h1>
    </font>
    <!--为了确保post方法能够包含next参数，能够顺利跳转，加入以下逻辑-->
    {% if next is None %}
        <form method="post", action="/login/">
    {% else %}
        <form method="post", action="/login/?next={{next}}">
    {% endif %}
         <!--加入防攻击令牌-->
        {% csrf_token %}
        <br><a>&nbsp;&nbsp;用户名： </a><input name="username", type="text" placeholder="username">
        <br><br><a>&nbsp;&nbsp;密&nbsp;&nbsp; 码： </a><input name="password", type="password", placeholder="password">
            <br><a style="color:red">{{ error }}</a><br>
        &nbsp;<button style="width:235px;height:28px;" id="submit" type="submit">登录</button>
        </form>
</div>
</body>
</html>